.top {
  display: flex;
  justify-content: space-around;
  margin: 4em;
  max-width: 1500px;
}

.date-info {
  font-size: 1.5em;
}

.search-box {
  position: absolute;
}

input[type=text] {
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 2px 3px rgba(0,0,0,0.06);
}
