body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI',
    sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#2E85B9, #19173C);
  color: #fff;
  background-size: auto 100%;
}

html {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 767px) { 
  .currWeather {margin: 1em;} 
  .date-info {display: none;}
  .curr-info {flex-direction: column-reverse;}
  .precip-wind {display: none;}
  .location-info{font-size: 0.5em;}

}